html {
    text-align: center;
}
body {
    color: #eee;
    background: #121212;
    font-size: 3vmax;
}

a.title {
    color: white;
    text-decoration: none;
}

#input-rating {
    font-size: 3vmax;
}

#input-rating-type {
    font-size: 3vmax;
}

.footer {
    font-size: 1.5vmax;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}

table td {
    margin-left: 20px;
}

body a {
    color: #809fff;
}

td.rating-type {
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

td.rating-result {
    padding-right: 10px;
    font-weight: bold;
}

.classical {
    color: #21598d;
}
.classical > a {
    color: #21598d;
    text-decoration: none;
}

.rapid {
    color: #218d21;
}
.rapid > a {
    color: #218d21;
    text-decoration: none;
}

.blitz {
    color: #8d7021;
}
.blitz > a {
    color: #8d7021;
    text-decoration: none;
}

.bullet {
    color: #8d2121;
}
.bullet > a {
    color: #8d2121;
    text-decoration: none;
}


tbody tr:nth-child(odd) {
    background-color: #404040;
}
tbody tr:nth-child(even) {
    background-color: #252525;
}
